@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
} 

.container{
  display:grid;
  font-family: "Roboto",sans-serif;
  

}
li,a{
text-decoration: none;
list-style-type: none;
}
.sidebar{
display:grid;
grid-row: 1/3;
grid-template-rows: 150px;
background-color:rgb(85, 85, 233);
color:white;
grid-template-columns: 100px;
 
}
.sidebar-li{
  display:grid;
  gap:15px;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 150px;
  
}
.sidebar-li img{
width: 24px;
height: 24px;
}
.searchBtn{
  width: 600px;
  border-radius: 15px;
  background-color: gray;
  border:none;
  color:white;
height: 30px;
}
.search{
  display:flex;
  justify-content: flex-start;
flex-direction: row;
}
.search ul,.search li{
  display:grid;
  grid-row-end: 1;
  gap: 50px;
  justify-content:space-between;
  align-items: center;
}
.nav >ul{
display:grid;
grid-template-columns: repeat(4,100px);
gap: 10px;
justify-content: center;
justify-items: center;
grid-column: 1/5;
}

.header{
background-color: white;
margin:25px;
display: grid;
grid-template-columns: 100px  100px;
}
.new{
  display:flex;
  flex-direction: row;
  gap:450px;
  justify-content: space-between;
}

.hi{
  font-size: small;
}
.buttons{
  display: flex;
  justify-content: space-between;
  gap:25px;
}
.buttons >button:hover{
  color:black;
  background-color: gold;
}
.buttons > button{
  width: 100px;
  height: 35px;
  background-color:blue;
  border-radius: 15px;
  color:white;
  gap:25px;
  border: none;
  font-family: "Roboto",sans-serif;

}
.main-content{
  background-color: gray;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
}