*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
.container{
    display:grid;
    

}
li,a{
  text-decoration: none;
  list-style-type: none;
}
.sidebar{
  display:grid;
  grid-row: 1/3;
  background-color:rgb(85, 85, 233);
  color:white;
  grid-template-columns: 100px;
  
  
 
}
.sidebar-li{
    display:grid;
    gap:15px;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 150px;
    
}
.sidebar-li img{
  width: 24px;
  height: 24px;
}

 

 
 
.header-top{
   

}.header-bottom{
  display:grid;
  
  
}
.button-bottom{
gap:25px;
display:grid;

}
.nav >ul{
  display:grid;
  grid-template-columns: repeat(4,100px);
  gap: 10px;
  justify-content: center;
  justify-items: center;
  grid-column: 1/5;
}
.header{
  background-color: white;
  margin:25px;
}
.main-content{
    background-color: gray;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
}